.row
  %h2 Resultados

  = render partial: 'form',
           locals: { title: 'Editar Existente', action: 'Editar',
                     result: @result,
                     form_target: admin_course_result_path(id: 'null',
                                    old_student_code: @result['student_code'],
                                    old_course_code: @result['course_code'],
                                    old_year: @result['year'], old_semester: @result['semester']),
                     form_method: 'PUT' }
