#chart-bubble-courses.chart

= content_for :js_code do
  :javascript
    google.charts.setOnLoadCallback(drawBubbleCoursesChart);

    function drawBubbleCoursesChart() {
      // Set chart data
      var data = google.visualization.arrayToDataTable(gon.bubble);

      // Set chart options
      var options = {
        title: 'Disciplinas cursadas ao longo dos semestres',
        titleTextStyle: { fontSize: 19 },
        tooltip: { isHtml: true },
        hAxis: {
          title: 'Semestre',
          ticks: $.map(gon.bubble, function(val) { return val[1] }),
          viewWindow: { min: -1, max: gon.bubble_stats['max_semester'] + 1 },
          baselineColor: '#ccc'
        },
        vAxis: {
          title: 'Nota',
          viewWindow: { min: gon.bubble_stats['min_grade'] * 0.9, max: gon.bubble_stats['max_grade'] * 1.05 }
        },
        sizeAxis: { minSize: 10,  maxSize: 20 } ,
        bubble: {textStyle: {fontSize: 9}},
        chartArea: { width: '87%', height: '70%' },
        colorAxis: {colors: ['red', 'orange', 'green']}
      };

      // Instantiate chart
      var chart = new google.visualization.BubbleChart(document.getElementById('chart-bubble-courses'));
      chart.draw(data, options);

      registerResize(chart, data, options);
    }
