#chart-column-semesters.chart

= content_for :js_code do
  :javascript
    google.charts.setOnLoadCallback(drawColumnSemestersChart);

    function drawColumnSemestersChart() {
      // Set chart data
      var data = new google.visualization.arrayToDataTable(gon.semesters_workload);

      // Set chart options
      var options = {
        title: 'Quantidade de créditos por semestre',
        titleTextStyle: { fontSize: 19 },
        legend: { position: 'bottom' },
        isStacked: true,
        hAxis: {
          title: 'Semestre',
          ticks: $.map(gon.semesters_workload, function(val) { return val[0] }),
          baselineColor: '#ccc'
        },
        vAxis: {
          title: 'Créditos',
          format: '0'
        },
      };

      // Instantiate chart
      var chart = new google.visualization.ColumnChart(document.getElementById('chart-column-semesters'));
      chart.draw(data, options);

      registerResize(chart, data, options);
    }
