#chart-donut-situation.chart

= content_for :js_code do
  :javascript
    google.charts.setOnLoadCallback(drawDonutSituationChart);

    function drawDonutSituationChart() {
      // Set chart data
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Situação da disciplina');
      data.addColumn('number', 'Quantidade');
      data.addRows(gon.courses_by_situation);

      // Set chart options
      var options = {
        title: 'Disciplinas agrupadas por situação',
        titleTextStyle: { fontSize: 19 },
        pieHole: 0.4,
        colors: ChartUtils.getSituationsColors(gon.courses_by_situation.map(function (situation) {
          return situation[0];
        }))
      };

      // Instantiate chart
      var chart = new google.visualization.PieChart(document.getElementById('chart-donut-situation'));
      chart.draw(data, options);

      registerResize(chart, data, options);
    }
