-# navigation styled for Bootstrap 3.0
%nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'Página Pública', root_path, class: 'navbar-brand'
      = link_to 'Início', admin_root_path, class: 'navbar-brand'
    .collapse.navbar-collapse
      = render 'layouts/admin/navigation_links'
