- content_for :title do
  Cursos UFPB: Sobre

%h3 Sobre o site
%p Este site foi desenvolvido por alunos do Centro de Informática da UFPB, de forma independente.

%h3 Termos de utilização
%p Ao utilizar este site, você está concordando com os seguintes termos:

%h4 Responsabilidade da informação
%p Este site foi desenvolvido por alunos e não possui nenhum vínculo oficial com a UFPB. Os desenvolvedores deste site não se responsabilizam pelos dados aqui publicados.

%h4 Privacidade dos dados enviados
%p O sistema pode manter salvo qualquer tipo de informação enviada pelo usuário, para fins acadêmicos e de cálculo de estatísticas a serem exibidas no próprio sistema. Caso esses dados sejam divulgados ou repassados a terceiros, isto será feito de forma anônima. Exemplo: pode ser que o sistema permita no futuro a comparação do seu CRA com o CRA de alunos do mesmo curso, mas dados pessoais, como o nome ou a matrícula, nunca serão exibidos ou divulgados.

%h3 Créditos
%p Trabalharam no desenvolvimento deste sistema:

%ul
  %li Fernando Brito (aluno do Centro de Informática da UFPB)
  %li Gustavo Sobral (aluno do Centro de Informática da UFPB)
  %li David Guilherme (aluno do Centro de Informática da UFPB)

%p Este site foi desenvolvido usando a linguagem de programação Ruby e o framework Ruby on Rails. O código fonte se encontra hospedado no GitHub: #{link_to 'https://github.com/fernandobrito/ufpb_sigaa_api', 'https://github.com/fernandobrito/ufpb_sigaa_api', target: '_blank'}. Contribuições são bem vindas.