@import "1st_load_framework";
@import "jumbotron";

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

h4 {
  font-size: 20px;
}

p, ul {
  font-size: 17px;
}

.footer {
  p { font-size: 14px; }
}

@media (min-width: 768px) {
  .modal-dialog { width: 768px; }
}

.modal-dialog h4 { margin: 0 }

/* 
 * The style rules bellow will hide bubblechart tooltips third elements that currently
 * happens to be the duplicated field. !!!Warning: this is a temporary visual fix,
 * this style can lead to errors
 */
#chart-bubble-courses > div > div:last-child li:nth-child(3){
  display:none;
}
